<!-- character-form.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form th:fragment="form" th:object="${character}" th:action="${character.id != null ? '/characters/' + character.id : '/characters'}" method="post">
    <div class="space-y-4">
        <div class="space-y-1">
            <label for="name" class="block text-sm font-medium">Character Name</label>
            <input type="text" id="name" th:field="*{name}" placeholder="Enter character's name" class="mt-1 block w-full py-2 px-3 border border-gray-700 bg-gray-700 text-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>

        <div class="space-y-1">
            <label for="race" class="block text-sm font-medium">Race</label>
            <select id="race" th:field="*{race}" class="mt-1 block w-full py-2 px-3 border border-gray-700 bg-gray-700 text-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="">Select Race</option>
                <option th:each="race : ${races}" th:value="${race.name}" th:text="${race.name}"></option>
            </select>
        </div>

        <div class="space-y-1">
            <label for="characterClass" class="block text-sm font-medium">Class</label>
            <select id="characterClass" th:field="*{characterClass}" class="mt-1 block w-full py-2 px-3 border border-gray-700 bg-gray-700 text-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="">Select Class</option>
                <option th:each="cls : ${classes}" th:value="${cls.name}" th:text="${cls.name}"></option>
            </select>
        </div>

<!--        <div class="space-y-1">-->
<!--            <label for="level" class="block text-sm font-medium">Level</label>-->
<!--            <input type="number" id="level" th:field="*{level}" placeholder="Enter character's level" class="mt-1 block w-full py-2 px-3 border border-gray-700 bg-gray-700 text-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">-->
<!--        </div>-->

        <button type="submit" th:text="${character.id != null ? 'Update Character' : 'Save Character'}" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Save Character
        </button>
    </div>
</form>
</body>
</html>