<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Character Manager - Create Character</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="dark min-h-screen bg-gray-900 text-gray-200">
<header th:replace="~{fragments/header :: header}"></header>

<main class="px-4 py-6">
    <div class="max-w-xl mx-auto bg-gray-800 border border-gray-700 shadow-lg">
        <div class="px-4 py-5 sm:px-6">
            <h2 class="text-lg font-medium leading-6">Create a New Character</h2>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <form th:replace="~{fragments/character-form :: form}"></form>
        </div>
    </div>
</main>

<script>
    function increment(statKey) {
        let inputElement = document.getElementById(statKey);
        inputElement.value = parseFloat(inputElement.value) + 1;
    }

    function decrement(statKey) {
        let inputElement = document.getElementById(statKey);
        let currentValue = parseFloat(inputElement.value);
        if (currentValue > 0) { // Prevent stats from going below 0
            inputElement.value = currentValue - 1;
        }
    }
</script>
</body>
</html>